body{   
    margin: 0px;
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 1000px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}
.first-video{
    width: 100%;
    
}

.second-video{
    
    width: 100%;
    
}
p{
    font-family: Roboto ,arial;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-title{
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 0px;
    font-weight: 500;
    line-height: 20px;
}
.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 6px;
}


.pfp{
    width: 36px;
    border-radius: 50px;
}
.first-video-container{
    margin-bottom: 12px;
    position: relative;
}
.video-time{
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
    font-family: Roboto, arial;
    font-weight: 500;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(240,240,240);
    z-index: 100;
}
.left-section{
    display: flex;

}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height:36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto ,arial;
    font-size: 16px;
}
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.menu-icon{
    height: 25px;
    cursor: pointer;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}
.search-button{
    height: 39px;
    width: 66px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(192,192,192);
    margin-left: -1px;
    margin-right: 10px;
}
.search-button, .voice-search-button{
    position: relative;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: rgb(248,248,248);

}
.search-icon{
    height: 35px;
}
.iconic{
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 2px;
}
.upload{
    height: 48px;
}
.google-apps{
    height: 24px;
}
.notification{
    height: 24px;
    
}
.pro-pic{
    height: 32px;
    border-radius: 50%;
}
.sidebar{
    width: 72px;
    position: fixed;
    bottom: 0;
    top: 55px;
    left: 0;
    background-color: white;
    padding-top: 5px;
    z-index: 200;
    cursor: pointer;
}
.pfpp{
    position: relative;
}
.notification-icon{
    background-color: red;
    position: absolute;
    top: -2px;
    right: -6px;
    color: white;
    font-size: 11px;
    border-radius: 10px;
    font-family: Roboto,arial;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid white;
} 
.sidebar-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81px;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
height: 24px;
margin: 4px;
}
.sidebar-link div{
    font-family: roboto, arial;
    font-size: 10px;

}
.search-button .tooltip, .voice-search-button .tooltip{
position: absolute;
background-color: gray;
color: white;
padding: 4px 8px;
border-radius: 2px;
font-size: 12px;
bottom: -30px;
opacity: 0;
transition: opacity 0.15s;
pointer-events: none;
white-space: nowrap;
}
.search-button:hover .tooltip, .voice-search-button .tooltip{
    opacity: 1;
}
@media (max-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px){
.video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}